{% extends 'base.html.twig' %}

{% block title %}Bienvenue à la maison !{% endblock %}

{% block body %}
        <section>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda delectus dolorum nesciunt numquam odio reiciendis! Magni perspiciatis quaerat quos rem? Animi illum, inventore natus porro reiciendis tenetur totam voluptatum.</p>
        </section>
{% endblock %}
